@tailwind base;
@tailwind components;
@tailwind utilities;

 section {
background-color:#232323;
}
.button{
    color: white;
    background-color:#ff7418;
    padding: 8px 16px;
    border-radius: 3px;
	font-weight:500;
}
/* start navbar */
.navbar{
	background: #232323;
}
.navbar .navbar-nav .nav-link{
	color:white;
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar .navbar-nav .nav-link.active{
	color: #FE994A;
}
.navbar-nav .button:hover{
 padding-right: 20px;
 border: 2px solid white;
}
.navbar .navbar-toggler {
    color: rgb(255, 116, 24);
	border: 2px solid rgb(255, 166, 24,0.2);
}
.navbar .navbar-toggler-icon {

    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* end navbar */



/* start Home Page */
/* start hero Section */
 .heroSection h1{
    color: #fff;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 .heroSection h1 span{
    color: #ff7418;
 }
.heroSection p{
font-size:20px ;
color: white;
}
 .heroSection {
	margin-top:80px;
 }
  .heroSection .hero-title{
	padding: 0px 120px ;
 }


 /* end hero SEction  */
/* end  Home Page */
 @media (max-width: 992px) {
	.heroSection .hero-title{
		padding: 0px 0px ;
	 }
 }
 @media (max-width: 767px) {
	.heroSection {
		padding-top: 26px;
		text-align: center;
	}
 }


